*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F5EDED;
}
.list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .list-container li {
    list-style: none;
  }
  .list-container li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
    background: linear-gradient(0deg, #DDDDDD, #FFFFFF);
    transition: .5s;
  }
  
 

.list-container li a .fa{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg,#dddddd,#ffffff);
    border-radius: 50px;
    line-height: 50px;
    font-size: 24px;
    color:#262626;
    transition: .5s;
}



.list-container li:nth-child(1) a .fa:hover {
    color: #3B5998;
    background-color: black;
  }
  .list-container li:nth-child(2) a:hover .fa {
    color: #00ACED;
  }
  .list-container li:nth-child(3) a:hover .fa {
    color: #DD4B39;
  }
  .list-container li:nth-child(4) a:hover .fa {
    color: #007BB6;
  }
  .list-container li:nth-child(5) a:hover .fa {
    color: #BC2A8D;
  }